.content {
  height: auto;
  min-height: 70%;
}

.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 912px;
}

@media (min-width: 0px) {
  .layout {
    margin: 0 1rem;
  }
}

@media (min-width: 960px) {
  .layout {
    margin: 0;
  }
}
