.layout {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

main {
  width: 100%;
  max-width: 808px;
}

@media (min-width: 0px) {
  .layout {
    margin: 0 1rem;
  }
}

@media (min-width: 648px) {
  .layout {
    margin: 0;
  }
}
