---
import Layout from "../layouts/Layout.astro";
import Content from "../components/content/Content";
---

<Layout title="Min side">
  <Content>
    <h1>Fant ikke siden</h1>
    <p>
      Beklager, siden kan være slettet eller flyttet, eller det var en feil i lenken som førte deg hit.
      Bruk gjerne søket, menyen eller gå til <a href="https://www.nav.no/minside">Min side</a>.
    </p>
    <h2>In english</h2>
    <p>
      The page you requested cannot be found.
      Go to <a href="https://www.nav.no/minside">My page</a>, or use one of the links in the menu.
    </p>
  </Content>
</Layout>
